<%= form_with(model: @note, data: { turbo_frame: "new_note" }) do |form| %>
  <div class="mb-2">
    <%= form.label :title, class: "block font-semibold" %>
    <%= form.text_field :title, class: "border p-2 w-full" %>
  </div>
  <div class="mb-2">
    <%= form.label :content, class: "block font-semibold" %>
    <%= form.text_area :content, rows: 3, class: "border p-2 w-full" %>
  </div>
  <%= form.submit "save", class: "px-4 py-2 bg-green-500 text-white rounded" %>
<% end %>